In [152]:
import numpy as np
import pandas as pd
import taxcalc as tc
import microdf as mdf

In [213]:
run 'convert_asec_taxcalc.py'

In [214]:
run 'make_tax_units.py'

In [215]:
ipum = pd.read_csv('~/UBICenter/covid_ui/asec_2019_ipums.csv.gz')

In [216]:
# Add tax unit and other stuff.
tax_unit_id(ipum)
# Add other person-level columns in taxcalc form.
tp = convert_asec_person_taxcalc(ipum)
# Create tax unit dataframe.
tu = create_tax_unit(tp)

In [217]:
tu['RECID'] = tu.taxid

Define crosswalk from tax unit to SPM unit.

**NOTE: Some tax units map to multiple SPM units.**

## Convert to taxcalc

Rename and process per https://github.com/PSLmodels/Tax-Calculator/blob/master/taxcalc/validation/taxsim27/prepare_taxcalc_input.py

## Run tax analysis

In [229]:
tu[(tu.e00200s != 0) & (tu.MARS != 1)]

,filer_pernum,taxid,serial,e02300,p23250,e00650,e01700,e02400,e00300,XTOT,...,e00200,e00200p,e00200s,e00600,e01500,age_head,age_spouse,EIC,MARS,RECID
10,1.0,2701.0,27,0,29999997,0,0,0,14,3,...,100000,0,100000,0,0,46,43,0.0,4,2701.0
12,1.0,3001.0,30,7999992,109999989,79999992,0,7999992,80000192,11,...,50000,0,50000,79999992,0,41,33,3.0,4,3001.0
18,1.0,3701.0,37,2999997,49999995,29999997,0,2999997,30001497,5,...,73000,23000,50000,29999997,0,49,56,3.0,4,3701.0
19,1.0,3801.0,38,999999,29999997,9999999,0,999999,10002399,3,...,93500,41500,52000,9999999,0,34,36,1.0,4,3801.0
29,1.0,6001.0,60,1999998,39999996,19999998,0,1999998,19999999,4,...,90000,0,90000,19999998,0,31,32,2.0,4,6001.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86259,7.0,9113507.0,91135,999999,29999997,9999999,0,999999,9999999,3,...,150000,90000,60000,9999999,0,50,43,1.0,4,9113507.0
86262,7.0,9180707.0,91807,0,29999997,0,0,0,45,3,...,110000,60000,50000,0,0,50,47,0.0,4,9180707.0
86327,8.0,8758508.0,87585,2999997,49999995,29999997,0,2999997,29999997,5,...,79000,20000,59000,29999997,0,27,26,3.0,4,8758508.0
86350,9.0,6989309.0,69893,999999,69999993,9999999,0,1004999,10020565,7,...,271000,71000,200000,9999999,0,50,48,2.0,4,6989309.0
86393,13.0,6840913.0,68409,999999,29999997,9999999,0,999999,9999999,3,...,25000,0,25000,9999999,0,37,35,1.0,4,6840913.0

In [226]:
tu[tu.e00200 != (tu.e00200p + tu.e00200s)][['e00200', 'e00200p', 'e00200s']]

Empty DataFrame
Columns: [e00200, e00200p, e00200s]
Index: []

In [227]:
calcdf = mdf.calc_df(records=tc.Records(tu))

ValueError: e00200s is not always zero for non-married filing unit

In [186]:
calcdf

,expanded_income,vet_ben,other_ben,housing_ben,e02400,mcaid_ben,e02300,aftertax_income,ssi_ben,tanf_ben,mcare_ben,snap_ben,s006,wic_ben,market_income,bens,tax,s006_m
RECID,,,,,,,,,,,,,,,,,,
401,25426.526685,0.0,0.0,0.0,0.000000,0.0,0.0,20636.368965,0.0,0.0,0.0,0.0,3920.556150,0.0,25426.526685,0.000000,4790.157719,0.003921
601,4268.366624,0.0,0.0,0.0,4268.366624,0.0,0.0,4268.366624,0.0,0.0,0.0,0.0,6411.799290,0.0,0.000000,4268.366624,0.000000,0.006412
701,16951.017790,0.0,0.0,0.0,0.000000,0.0,0.0,14187.174315,0.0,0.0,0.0,0.0,742.878078,0.0,16951.017790,0.000000,2763.843475,0.000743
801,3250.959659,0.0,0.0,0.0,3250.959659,0.0,0.0,3250.959659,0.0,0.0,0.0,0.0,2309.022214,0.0,0.000000,3250.959659,0.000000,0.002309
802,16951.017790,0.0,0.0,0.0,0.000000,0.0,0.0,14187.174315,0.0,0.0,0.0,0.0,2470.803026,0.0,16951.017790,0.000000,2763.843475,0.002471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9463302,49440.468554,0.0,0.0,0.0,0.000000,0.0,0.0,38560.384099,0.0,0.0,0.0,0.0,26.444705,0.0,49440.468554,0.000000,10880.084454,0.000026
5458701,22601.357053,0.0,0.0,0.0,0.000000,0.0,0.0,18509.565753,0.0,0.0,0.0,0.0,373.828621,0.0,22601.357053,0.000000,4091.791300,0.000374
9000601,8475.508895,0.0,0.0,0.0,0.000000,0.0,0.0,7270.908002,0.0,0.0,0.0,0.0,3920.556150,0.0,8475.508895,0.000000,1204.600893,0.003921
1516201,14125.848158,0.0,0.0,0.0,0.000000,0.0,0.0,18960.287748,0.0,0.0,0.0,0.0,2102.317265,0.0,14125.848158,0.000000,-4834.439590,0.002102
8678301,84755.088949,0.0,0.0,0.0,0.000000,0.0,0.0,65987.021436,0.0,0.0,0.0,0.0,1984.774351,0.0,84755.088949,0.000000,18768.067513,0.001985

In [66]:
cps_tc.columns

Index(['RECID', 'FLPDYR', 'state', 'mstat', 'num_deps', 'age_head', 'e00200p',
       'e00200s', 'e00650', 'e02000', 'e01700', 'e02400', 'transfers',
       'rentpaid', 'e18500', 'e18400', 'e32800', 'e02300', 'depchild',
       'e19200', 'p22250', 'p23250', 'f2441', 'age_spouse', 'n24',
       'num_eitc_qualified_kids', 'e00300', 'e00800', 'serial', 'pernum',
       'MARS', 'EIC', 'XTOT', 'e00200', 'e00600', 'e01500'],
      dtype='object')

In [50]:
crosswalk[crosswalk.serial == 54587]

       serial  pernum   taxsimid
99400   54587       2  5458702.0
99402   54587       4  5458701.0
99399   54587       1  5458702.0
99401   54587       3  5458702.0

In [49]:
crosswalk[crosswalk.taxsimid.isin([5458701, 9000601])]

        serial  pernum   taxsimid
99402    54587       4  5458701.0
170344   90006       5  9000601.0

In [140]:
pd.Series([17, 18, 19, 20, 21]).between(18, 20)

0    False
1     True
2     True
3     True
4    False
dtype: bool

In [45]:
cps_tc[(cps_tc.e00200s != 0) & cps_tc.MARS.isin([1, 5])]

,RECID,FLPDYR,state,mstat,num_deps,age_head,e00200p,e00200s,e00650,e02000,...,e00300,e00800,serial,pernum,MARS,EIC,XTOT,e00200,e00600,e01500
47924,5458701.0,2018,47.0,1.0,0,0.0,0.0,16000.0,0.0,0.0,...,0.0,0.0,54587,4,1,0,1,16000.0,0.0,0.0
81577,9000601.0,2018,6.0,1.0,0,0.0,0.0,6000.0,0.0,0.0,...,0.0,0.0,90006,5,1,0,1,6000.0,0.0,0.0

In [15]:
cps_tc

,RECID,FLPDYR,state,mstat,num_deps,age_head,e00200p,e00200s,e00650,e02000,...,p22250,p23250,f2441,age_spouse,n24,num_eitc_qualified_kids,e00300,e00800,serial,pernum
0,401.0,2018,23.0,1.0,0,21.0,18000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0.0,0.0,4,1
1,601.0,2018,23.0,1.0,0,85.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0.0,0.0,6,1
2,701.0,2018,23.0,1.0,0,61.0,12000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0.0,0.0,7,1
3,801.0,2018,23.0,1.0,0,73.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0.0,0.0,8,1
4,802.0,2018,23.0,1.0,0,37.0,12000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0.0,0.0,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86389,9463101.0,2018,5.0,2.0,4,30.0,11000.0,3000.0,0.0,0.0,...,0.0,0.0,0.0,33,4,4,0.0,0.0,94631,1
86390,9463201.0,2018,15.0,2.0,0,80.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,73,0,0,10.0,0.0,94632,1
86391,9463203.0,2018,7.5,2.0,2,57.0,28000.0,30000.0,0.0,0.0,...,0.0,0.0,0.0,45,2,2,2.0,0.0,94632,3
86392,9463301.0,2018,15.0,1.0,0,57.0,15000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0.0,0.0,94633,1
86393,9463302.0,2018,15.0,1.0,0,27.0,35000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0.0,0.0,94633,2

In [9]:
concat.columns

Index(['taxsimid', 'year', 'state', 'mstat', 'depx', 'page', 'pwages',
       'swages', 'dividends', 'otherprop', 'pensions', 'gssi', 'transfers',
       'rentpaid', 'proptax', 'otheritem', 'childcare', 'ui', 'depchild',
       'mortgage', 'stcg', 'ltcg', 'dep13', 'sage', 'dep17', 'dep18', 'intrec',
       'nonprop', 'serial', 'pernum'],
      dtype='object')

In [8]:
concat.shape

(86022, 30)